.blog-info {
  text-align: center;
  margin-top: 5%;
  border-radius: 1px;
  border-radius: 7px;
  border-style: solid;
  border-color: brown;
  margin: 200px;
  padding: 50px;
}
.name {
  font-family: Roboto;
}
.blog-content {
  font-style: italic;
}
.line1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.postId {
  color: rgb(93, 83, 235);
  font-style: italic;
  font-family: Roboto;
  margin-right: 30px;
}
.top {
  display: flex;
  justify-content: center;
}
